/* General */

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(69, 96, 138);
    color: ivory;
}

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    border: none;
}

img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
  }

  h1, h2 {
    font-family: 'Lora', serif;
  }

/* Header */

.row-flex {
    display: flex;
    align-items: center;
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(0, 0, 43);
    z-index: 10;
}

header h1 {
    float: right;
    padding: 3rem;
    color: #c73a2e;
}

nav {
    justify-content: space-evenly;
}

header h2 {
    padding-left: 2rem;
}

header a {
    text-decoration: none;
}

header h1 a {
    color: rgb(255, 102, 0);
}

header h2 a {
    color: ivory;
}


/* Main */

main {
    padding-top: 50px;
}

.col-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


/* Landing */

#landing{
    height: 35rem;
    background-image: url("media/friends_landscape_bw.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

#landing h1 {
    font-size: 4rem;
    text-align: center;
    width: 50rem;
    background-color: grey;
    opacity: 0.8;
}


/* About */

#about {
    padding: 3rem 0 3rem 3rem;
}

#about h2 {
    color:rgb(255, 102, 0);
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 2rem;
}

#about p {
    font-size: 1.25rem;
}


/* Gallery */

#gallery {
    justify-content: space-evenly;
    padding: 20px;
    background-color:rgb(0, 0, 43);
}

#gallery figure {
    width: 31%;
}


/* Schedule */

#schedule {
    justify-content: space-evenly;
    padding: 20px;
    background-image: url("media/trivia_sign.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

.day {
    padding-bottom: 20px;
    height: 250px;
    text-align: center;
    width: 20%;
    background-color: grey;
    opacity: 0.8;
    justify-content: space-evenly;
}

.day h2 {
    text-decoration: underline;
    text-decoration-style: double;
    line-height: 1.4;
}

.day a {
    text-decoration: none;
    color: rgb(255, 102, 0);
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 1.0;
}