/* General */

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(69, 96, 138);
    color: ivory;
}

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    border: none;
}

img {
    width: 100%;
    max-height: 100%;
  }

  h1, h2 {
    font-family: 'Lora', serif;
  }

/* Header */

.row-flex {
    display: flex;
    align-items: center;
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(0, 0, 43);
    z-index: 10;
}

header h1 {
    float: right;
    padding: 3rem;
    color: #c73a2e;
}

nav {
    justify-content: space-evenly;
}

header h2 {
    padding-left: 2rem;
}

header a {
    text-decoration: none;
}

header h1 a {
    color: rgb(255, 102, 0);
}

header h2 a {
    color: ivory;
}

@media only screen and (max-width: 835px) {
    header h2 {
        font-size: 1.2rem;
    }

    header h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 575px) {
    header h2 {
        font-size: 1rem;
    }

    header h1 {
        font-size: 1rem;
    }
}


/* Main */

main {
    padding-top: 50px;
}

.col-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Landing */

#landing{
    height: 50rem;
    background-image: url("media/friends_landscape_bw.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

#landing h1 {
    font-size: 4rem;
    text-align: center;
    width: 50rem;
    background-color: grey;
    opacity: 0.8;
}

@media only screen and (max-width: 835px) {
    #landing h1 {
        font-size: 3rem;
        width: 40rem;
    }
}
    
@media only screen and (max-width: 575px) {
    #landing h1 {
        font-size: 2rem;
        width: 25rem;
    }
}

/* About */

#about {
    padding: 3rem 0 3rem 3rem;
}

#about h2 {
    color:rgb(255, 102, 0);
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 2rem;
}

#about p {
    font-size: 1.25rem;
}

@media only screen and (max-width: 575px) {
    #about h2  {
        font-size: 1.5rem;
    }

    #about p {
        font-size: 1rem;
    }
}


/* Gallery */

#gallery {
    justify-content: space-evenly;
    padding: 20px 0;
    background-color:rgb(0, 0, 43);
}

#gallery figure {
    width: 31%;
}

@media only screen and (max-width: 575px) {
    #gallery {
        flex-direction: column;
    }
    
    #gallery figure {
        width: 80%;
    }

    #img1 {
        display: none;
    }

    #img3 {
        display: none;
    }
}


/* Accent text */

#accent {
    padding: 0 0 30px;
    background-color:rgb(0, 0, 43);
    color: rgb(255, 102, 0);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

@media only screen and (max-width: 835px) {
    #accent {
        font-size: 1.2rem;
    }
}


/* Schedule */

#schedule {
    justify-content: space-evenly;
    padding: 10rem 0;
    background-image: url("media/trivia_sign.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

.day {
    padding-bottom: 1.5rem;
    height: 16rem;
    text-align: center;
    width: 20%;
    background-color: rgba(128, 128, 128, 0.8);
    justify-content: space-evenly;
}

.day h2 {
    text-decoration: underline;
    text-decoration-style: double;
    line-height: 1.4;
}

.day a {
    text-decoration: none;
    color: rgb(255, 102, 0);
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 1.0;
}

@media only screen and (max-width: 575px) {
    #schedule {
        flex-wrap: wrap;
    }

    .day {
        width: 40%;
        margin-bottom: 1rem;
    }
}

/* Join Us Section */

.grid {
    display: grid;
    height: 40rem;
    width: 100%;
    grid-template-rows: 2fr 8fr;
    grid-template-columns: 2fr 1fr;   
}

#text {
    grid-area: 1 / 1 / span 1 / span 1;
    padding-left: 4rem;
    justify-content: center;
}

#text h2 {
    color: rgb(255, 102, 0);
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

#picture {
    grid-area: 2 / 1 / span 1 / span 1;
    background-image: url("media/friends_landscape_color.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#form {
    grid-area: 1 / 2 / span 2 / span 1;
    align-items: center;
}

#form form {
    width: 80%;
    height: 80%;
    justify-content: start;
}

.checkbox {
    display: inline-block;
}

@media only screen and (max-width: 575px) {
    #text {
        padding-left: 2rem;
        padding-top: 2rem;
    }

    #text h2 {
        font-size: 1.2rem;
    }

    .grid {
        display: flex;
        flex-direction: column;
        height: 30rem;
    }
}

/* Footer */
 
footer {
    background-color: rgb(0, 0, 43);
    height: 40px;
    font-size: 0.8rem;
    align-items: center;
}

@media only screen and (max-width: 575px) {
    footer {
        font-size: 0.5rem;
    }
}